<app-header></app-header>
<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <h2
        class="text-xl font-semibold text-gray-900 sm:text-2xl"
      >
        Certified YouTube, Filming & Video Editing Program
      </h2>
      <div class="my-8 xl:mb-16 xl:mt-12">
        <img
          class="w-full rounded-lg"
          src="assets/images/video-editing.jpg"
          alt=""
        />
        <!-- <img
          class="hidden w-full dark:block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-showcase-dark.svg"
          alt=""
        /> -->
      </div>
      <div class="mx-auto max-w-2xl space-y-6">
        <p class="text-base font-normal text-gray-500">
          In only 8 weeks, we'll make you a decent video editor & videographer
          by giving you hands-on class & field based training. All equipment
          like DSLR Cameras, Lighting, Mic's etc will be provided by us. Getting
          you Job Ready and/or Ready to become an Influencer.
        </p>

        <div class="p-4 rounded-lg">
          <h3 class="text-xl font-bold text-gray">Brief Outline</h3>
          <ul class="list-disc list-inside text-gray-600">
            <li>Mastering Video Editing with Adobe Premiere Pro.</li>
            <li>Shooting High-Quality Footage with DSLR Cameras.</li>
            <li>
              Using Different Types of Lenses to Enhance Visual Storytelling.
            </li>
            <li>Adding Professional-Level Camera Movement with Gimbals.</li>
            <li>Recording Clean &amp; Clear Audio for Your Projects.</li>
            <li>Setting Up &amp; Controlling Lighting for Best Results.</li>
            <li>Creating Dynamic Visuals with Green Screen Techniques.</li>
            <li>
              Creating stunning videos with captivating Visual Effects (VFX)
              techniques.
            </li>
            <li>Color Grading Techniques for Professional-Looking Videos.</li>
            <li>Adding Visual Effects &amp; Motion Graphics.</li>
            <li>Building Your Freelance Video Editing Business.</li>
            <li>Strategies for Landing Your Dream Job or Internship.</li>
            <li>
              Exporting &amp; Delivering Final Video Projects in Different
              Formats.
            </li>
          </ul>
        </div>
      </div>
      <app-pricing></app-pricing>
      <div class="p-4 bg-blue-800 rounded-lg">
        <h3 class="text-xl font-bold text-white">
          Why Learn Video-Making &amp; Editing?
        </h3>
        <ul class="list-disc list-inside text-gray-100">
          <li>
            <b>Scope:</b> Almost every industry requires professional
            video-making &amp; editing services to create engaging content.
          </li>
          <li>
            <b>Prominent Clients:</b> YouTube, Netflix, Disney, HBO &amp;
            various media production companies rely on video-making &amp;
            editing professionals.
          </li>
          <li>
            <b>Quick Mastery:</b> We’ll make you a proficient video editor in 2
            months.
          </li>
          <li>
            <b>No Degree Required:</b> A degree is not necessary to pursue a
            career in this profession.
          </li>
          <li>
            <b>Earnings:</b> Entry-level salaries range from PKR. 3-6 lakhs per
            year, increasing to PKR. 7-15 lakhs with 2+ years of experience.
          </li>
          <li>
            <b>Technical Versatility:</b> Gain expertise in various video
            editing software &amp; types of equipment.
          </li>
          <li>
            <b>Creative Expression:</b> We’ll teach you how to showcase your
            creativity &amp; storytelling skills.
          </li>
          <li>
            <b>In-Demand Skill:</b> Video-making &amp; editing skills are highly
            sought after in industries such as film, advertising, marketing
            &amp; content creation.
          </li>
          <li>
            <b>Remote Work:</b> Enjoy the flexibility of working remotely as a
            video editor for international clients.
          </li>
          <li>
            <b>Freelancing:</b> You’ll be able to sell your services as a
            freelance video editor.
          </li>
          <li>
            <b>Entrepreneurship:</b> Establish your own video production
            company.
          </li>
          <li>
            <b>Impressive Portfolio:</b> We’ll teach you how to build a
            portfolio of completed projects to showcase your skills &amp;
            attract potential clients.
          </li>
          <li>
            <b>Transferable Skills:</b> You’ll be able to develop transferable
            skills like visual storytelling, attention to detail &amp; project
            management.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
