<app-header></app-header>
<div class="mt-8 text-center">
  <h2
    class="underline decoration-blue-800 mb-4 text-4xl tracking-tight font-extrabold text-black"
  >
    E-Commerce
  </h2>
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 p-[2rem] justify-items-center"
>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/shopify.jpg')] h-[40vh] bg-center bg-cover bg-no-repeat overflow-hidden"
    ></div>
    <div
      class="my-4 p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/e-commerce/shopify">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Shopify
          </h5>
        </a>
      </div>
      <a
        href="services/e-commerce/shopify"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/wix.webp')] h-[40vh] bg-center bg-cover bg-no-repeat overflow-hidden"
    ></div>
    <div
      class="my-4 p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/e-commerce/wix">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Wix
          </h5>
        </a>
      </div>
      <a
        href="services/e-commerce/wix"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/WooCommerce.webp')] h-[40vh] bg-center bg-cover bg-no-repeat overflow-hidden"
    ></div>
    <div
      class="my-4 p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/e-commerce/woocommerce">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            WooCommerce
          </h5>
        </a>
      </div>
      <a
        href="services/e-commerce/woocommerce"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/big-commerce.webp')] h-[40vh] bg-center bg-cover bg-no-repeat overflow-hidden"
    ></div>
    <div
      class="my-4 p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/e-commerce/bigcommerce">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            BigCommerce
          </h5>
        </a>
      </div>
      <a
        href="services/e-commerce/bigcommerce"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/squarespace.jpg')] h-[40vh] bg-center bg-cover bg-no-repeat overflow-hidden"
    ></div>
    <div
      class="my-4 p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/e-commerce/squarespace">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Squarespace
          </h5>
        </a>
      </div>
      <a
        href="services/e-commerce/squarespace"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
