<app-header></app-header>
<div class="mt-8 text-center">
  <h2
    class="underline decoration-blue-800 mb-4 text-4xl tracking-tight font-extrabold text-black"
  >
    Digital Marketing
  </h2>
</div>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 p-[2rem] justify-items-center"
>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/SEO.jpg')] h-[40vh] bg-center bg-contain overflow-hidden"
    ></div>
    <div
      class="min-h-[240px] h-[245px] p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/digital-marketing/seo">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Search Engine Optimization (SEO)
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Improving a website’s organic search rankings through keyword
          research, on-page optimization, technical SEO, and link building.
        </p>
      </div>
      <a
        href="services/digital-marketing/seo"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/ppc.jpeg')] h-[40vh] bg-center bg-contain overflow-hidden"
    ></div>
    <div
      class="min-h-[240px] h-[245px] p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/digital-marketing/ppc">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Pay-Per-Click (PPC) Advertising
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Managing and optimizing paid advertising campaigns on platforms like
          Google Ads and Bing Ads to drive targeted traffic.
        </p>
      </div>
      <a
        href="services/digital-marketing/ppc"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/social-media-marketing.jpg')] h-[40vh] bg-center bg-contain overflow-hidden"
    ></div>
    <div
      class="min-h-[240px] h-[245px] p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/digital-marketing/social-media-marketing">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Social Media Marketing
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Creating and managing content on social media platforms to build brand
          awareness, engage with followers, and drive traffic.
        </p>
      </div>
      <a
        href="services/digital-marketing/social-media-marketing"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/Content-Marketing.png')] h-[40vh] bg-center bg-contain overflow-hidden"
    ></div>
    <div
      class="min-h-[240px] h-[245px] p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/digital-marketing/content-marketing">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Content Marketing
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Creating and distributing valuable, relevant content to attract and
          retain a target audience.
        </p>
      </div>
      <a
        href="services/digital-marketing/content-marketing"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <div
      class="border-gray-800 rounded-lg bg-[url('assets/images/email-marketing.webp')] h-[40vh] bg-center bg-contain overflow-hidden"
    ></div>
    <div
      class="min-h-[240px] h-[245px] p-5 flex flex-col justify-between items-center"
    >
      <div>
        <a href="services/digital-marketing/email-marketing">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Email Marketing
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Designing, sending, and managing email campaigns to promote products
          or services, engage with customers, and build loyalty.
        </p>
      </div>
      <a
        href="services/digital-marketing/email-marketing"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        See Pricing & Features
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
